.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90vh;
  width: 50vw;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 18px;
  flex-direction: column;
  overflow: hidden;
}

.header {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: coral;
  color: white;
  font-size: 3rem;
}

.message {
  padding: 12px;
  margin: 9px;
  border-radius: 9px;
  background-color: var(--color);
  display: flex;
  justify-content: center;
  align-items: var(--dir);
}

.messageLeft {
  padding-left: 9px;
  --color: coral;
  --dir: flex-start;
}

.messageLeft {
  padding-left: 9px;
  --color: lightblue;
  --dir: flex-start;
}

input {
  width: 100%;
  padding: 14px;
  border-radius: 9px;
  outline: none;
  border: 1px solid lightblue;
  background-color: transparent;
}

.footer {
  width: 100%;
  padding: 18px;
}
