.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 50vw;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 18px;
}

.innerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 2rem;
  text-align: center;
  margin: 18px;
}

.input {
  padding: 9px;
  margin: 9px;
  border-radius: 9px;
  color: rgba(0, 0, 0, 0.9);
  border: transparent;
  outline: none;
}

button {
  text-align: center;
  margin: 9px;
  padding: 9px;
  outline: none;
  background-color: transparent;
  color: hsl(195, 53%, 45%);
  border: 1px solid hsl(195, 53%, 63%);
  border-radius: 9px;
  font-size: 1.2rem;
}
